<nav id="categories">
	<div class="container">
		<div class="col-md-12">
			<ul class="nav justify-content-center">
				<li class="nav-item">
					<a class="nav-link active" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Business</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Entertainment</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">General</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Health</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Science</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Sports</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Technology</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
