#categories {
	border-bottom: 1px solid #777;
	padding: 0.35% 0;
}

#categories a {
	border-top: 1px solid #FFF;
	color: #ad1d1d;
	font-family: 'Patua One', cursive;
}

#categories a:hover {
	border-top: 1px solid;
}
