<div id="main-news" class="mt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div id="bignews">
					<div class="newsimg mb-4"><img src="https://placeimg.com/400/350/any"></div>
					<div class="category mb-1"><span>BUSINESS</span></div>
					<div class="newshead"><span>Financial news: A new company is born today at the stock market</span>
					</div>
					<div class="source mb-3 mt-3">BBC News</div>
					<div class="description text-justify">
						<span>Lorem ipsum, dolor sit amet consectetur adipisicing
							elit.
							Temporibus, odit
							hic
							nulla consequuntur laboriosam iure sed dolore? Sunt eaque iusto est illum enim rerum itaque
							provident? Reiciendis nostrum placeat officia.
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="midnews">
					<div class="newsimg mb-4"><img src="https://placeimg.com/250/200/tech"></div>
					<div class="category mb-1"><span>BUSINESS</span></div>
					<div class="description text-justify">
						<span>Lorem ipsum, dolor sit amet consectetur adipisicing
							elit.
							Temporibus, odit
							hic
							nulla consequuntur...
						</span>
					</div>
				</div>
				<div class="midnews mt-5">
					<div class="newsimg mb-4"><img src="https://placeimg.com/250/200/any"></div>
					<div class="category mb-1"><span>BUSINESS</span></div>
					<div class="description text-justify">
						<span>Lorem ipsum, dolor sit amet consectetur adipisicing
							elit.
							Temporibus, odit
							hic
							nulla consequuntur...
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<app-small-news></app-small-news>
			</div>
		</div>
	</div>
</div>
