#bignews .newshead span {
	font-family: 'Patua One', cursive;
	font-size: 2em;
}

#bignews .description span {
	font-family: 'Roboto', sans-serif;
	color: #666;
	line-height: 28px;
	font-size: 0.9em;
}

.midnews .newshead span {
	font-family: 'Patua One', cursive;
	font-size: 1.5em;
}

.midnews .description span {
	font-family: 'Roboto', sans-serif;
	line-height: 28px;
	font-size: 1.2em;
}

#bigimg {
	width: 400px;
	height: 350px;
}

.midimg {
	width: 250px;
	height: 200px;
}
