<div id="main-news" class="mt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div id="bignews">
					<div class="newsimg mb-4"><img src="{{ latest_business?.urlToImage }}" id="bigimg"
							onerror="this.src='assets/images/placeholder.png'" class="img-fluid"></div>
					<div class="category mb-1"><span>BUSINESS</span></div>
					<div class="newshead"><span>{{ latest_business?.title }}</span>
					</div>
					<div class="source mb-3 mt-3">{{ latest_business?.source["name"] }}</div>
					<div class="description text-justify">
						<span>{{ latest_business?.description }}
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="midnews">
					<div class="newsimg mb-4"><img src="{{ latest_science?.urlToImage }}" class="midimg img-fluid"
							onerror="this.src='assets/images/placeholder.png'"></div>
					<div class="category mb-1"><span>SCIENCE</span></div>
					<div class="description text-justify">
						<span>{{ latest_science?.title }}
						</span>
					</div>
				</div>
				<div class="midnews mt-5">
					<div class="newsimg mb-4"><img src="{{ latest_sports?.urlToImage }}" class="midimg img-fluid"
							onerror="this.src='assets/images/placeholder.png'"></div>
					<div class="category mb-1"><span>SPORTS</span></div>
					<div class="description text-justify">
						<span>{{ latest_sports?.title }}
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<app-small-news></app-small-news>
			</div>
		</div>
	</div>
</div>
