<div id="breaking-news">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="breaking-box" class="d-flex align-items-center mt-4">
					<div id="breaking-left">
						<span>BREAKING NEWS</span>
					</div>
					<div id="breaking-right">
						<span [ngSwitch]="catid">
							<span *ngSwitchCase=1>
								{{ latest_business?.title }}
							</span>
							<span *ngSwitchCase=2>
								{{ latest_sports?.title }}
							</span>
							<span *ngSwitchCase=3>
								{{ latest_science?.title }}
							</span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
