header {
	background-color: teal;
	padding: 0.5% 0;
}

header p {
	margin: 0;
	color: #FFF;
}

#search .form-group {
	margin: 0;
}

#site-title {
	font-family: 'Patua One', cursive;
	font-size: 2em;
}

#tagline {
	font-family: 'Lato', sans-serif;
}
