<div class="small-news">
	<div class="smallnews d-flex">
		<div class="newsimg mb-4"><img src="https://placeimg.com/100/100/any"></div>
		<div class="smallnewsright ml-3">
			<div class="category mb-1"><span>BUSINESS</span></div>
			<div class="description">
				<span>Lorem ipsum, dolor sit amet conse adipisicing
					elit ipsum hefreg.
				</span>
			</div>
			<div class="source mt-1">BBC News</div>
		</div>
	</div>
	<div class="smallnews d-flex mt-3">
		<div class="newsimg mb-4"><img src="https://placeimg.com/100/100/animals"></div>
		<div class="smallnewsright ml-3">
			<div class="category mb-1"><span>ENTERTAINMENT</span></div>
			<div class="description">
				<span>Lorem ipsum, dolor sit amet conse adipisicing
					elit ipsum hefreg.
				</span>
			</div>
			<div class="source mt-1">BBC News</div>
		</div>
	</div>
	<div class="smallnews d-flex mt-3">
		<div class="newsimg mb-4"><img src="https://placeimg.com/100/100/architecture"></div>
		<div class="smallnewsright ml-3">
			<div class="category mb-1"><span>HEALTH</span></div>
			<div class="description">
				<span>Lorem ipsum, dolor sit amet conse adipisicing
					elit ipsum hefreg.
				</span>
			</div>
			<div class="source mt-1">BBC News</div>
		</div>
	</div>
	<div class="smallnews d-flex mt-3">
		<div class="newsimg mb-4"><img src="https://placeimg.com/100/100/nature"></div>
		<div class="smallnewsright ml-3">
			<div class="category mb-1"><span>SCIENCE</span></div>
			<div class="description">
				<span>Lorem ipsum, dolor sit amet conse adipisicing
					elit ipsum hefreg.
				</span>
			</div>
			<div class="source mt-1">BBC News</div>
		</div>
	</div>
	<div class="smallnews d-flex mt-3">
		<div class="newsimg mb-4"><img src="https://placeimg.com/100/100/people"></div>
		<div class="smallnewsright ml-3">
			<div class="category mb-1"><span>SPORTS</span></div>
			<div class="description">
				<span>Lorem ipsum, dolor sit amet conse adipisicing
					elit ipsum hefreg.
				</span>
			</div>
			<div class="source mt-1">BBC News</div>
		</div>
	</div>
	<div class="smallnews d-flex mt-3 border-0">
		<div class="newsimg mb-4"><img src="https://placeimg.com/100/100/tech"></div>
		<div class="smallnewsright ml-3">
			<div class="category mb-1"><span>TECHNOLOGY</span></div>
			<div class="description">
				<span>Lorem ipsum, dolor sit amet conse adipisicing
					elit ipsum hefreg.
				</span>
			</div>
			<div class="source mt-1">BBC News</div>
		</div>
	</div>

</div>
