<div id="main-news" class="mt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="cat-news">
					<img src="https://placeimg.com/715/350/tech">
					<div class="category mt-4">
						<span>
							{{ category | uppercase }}
						</span>
					</div>
					<div class="newsheadincat">
						<span>Financial news: A new company is born today at the stock market</span>
					</div>
					<div class="sourceincat mt-3">
						<p>Source:
							<span class="source">BBC News</span>
						</p>
					</div>
					<div class="descincat mt-3">
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima ab omnis, tempora ipsa
							laudantium culpa quidem dolorem reiciendis rem eveniet totam sint in dolorum quas
							necessitatibus
							officia debitis consequuntur. Aspernatur! Lorem ipsum dolor, sit amet consectetur
							adipisicing
							elit. Cumque labore doloremque alias est. Error dolor consectetur amet enim. Commodi ab
							placeat
							iusto magni eius sunt! Praesentium explicabo tempore numquam sit.</p>
					</div>
					<div class="readmore">
						<a href="#">Read More...</a>
					</div>
				</div>
				<div class="cat-news mt-5">
					<img src="https://placeimg.com/715/350/animals">
					<div class="category mt-4">
						<span>
							BUSINESS
						</span>
					</div>
					<div class="newsheadincat">
						<span>Financial news: A new company is born today at the stock market</span>
					</div>
					<div class="sourceincat mt-3">
						<p>Source:
							<span class="source">BBC News</span>
						</p>
					</div>
					<div class="descincat mt-3">
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima ab omnis, tempora ipsa
							laudantium culpa quidem dolorem reiciendis rem eveniet totam sint in dolorum quas
							necessitatibus
							officia debitis consequuntur. Aspernatur! Lorem ipsum dolor, sit amet consectetur
							adipisicing
							elit. Cumque labore doloremque alias est. Error dolor consectetur amet enim. Commodi ab
							placeat
							iusto magni eius sunt! Praesentium explicabo tempore numquam sit.</p>
					</div>
					<div class="readmore">
						<a href="#">Read More...</a>
					</div>
				</div>
				<div class="cat-news mt-5">
					<img src="https://placeimg.com/715/350/architecture">
					<div class="category mt-4">
						<span>
							BUSINESS
						</span>
					</div>
					<div class="newsheadincat">
						<span>Financial news: A new company is born today at the stock market</span>
					</div>
					<div class="sourceincat mt-3">
						<p>Source:
							<span class="source">BBC News</span>
						</p>
					</div>
					<div class="descincat mt-3">
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima ab omnis, tempora ipsa
							laudantium culpa quidem dolorem reiciendis rem eveniet totam sint in dolorum quas
							necessitatibus
							officia debitis consequuntur. Aspernatur! Lorem ipsum dolor, sit amet consectetur
							adipisicing
							elit. Cumque labore doloremque alias est. Error dolor consectetur amet enim. Commodi ab
							placeat
							iusto magni eius sunt! Praesentium explicabo tempore numquam sit.</p>
					</div>
					<div class="readmore">
						<a href="#">Read More...</a>
					</div>
				</div>
				<div class="cat-news mt-5">
					<img src="https://placeimg.com/715/350/nature">
					<div class="category mt-4">
						<span>
							BUSINESS
						</span>
					</div>
					<div class="newsheadincat">
						<span>Financial news: A new company is born today at the stock market</span>
					</div>
					<div class="sourceincat mt-3">
						<p>Source:
							<span class="source">BBC News</span>
						</p>
					</div>
					<div class="descincat mt-3">
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima ab omnis, tempora ipsa
							laudantium culpa quidem dolorem reiciendis rem eveniet totam sint in dolorum quas
							necessitatibus
							officia debitis consequuntur. Aspernatur! Lorem ipsum dolor, sit amet consectetur
							adipisicing
							elit. Cumque labore doloremque alias est. Error dolor consectetur amet enim. Commodi ab
							placeat
							iusto magni eius sunt! Praesentium explicabo tempore numquam sit.</p>
					</div>
					<div class="readmore">
						<a href="#">Read More...</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<app-small-news></app-small-news>
			</div>
		</div>
	</div>
</div>
