/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato|Patua+One|Roboto');

.container-fluid,
.col-md-12 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.logo p {
	margin: 0;
	color: #FFF;
}

.site-title {
	font-family: 'Patua One', cursive;
	font-size: 2em;
}

.tagline {
	font-family: 'Lato', sans-serif;
}

.source {
	font-family: 'Lato', sans-serif;
	color: teal;
	font-weight: bold;
}

.category span {
	color: teal;
	font-weight: bold;
	font-size: 0.9em;
}
